@import "tailwindcss";
@import "./styles/base.css";
@import "./styles/hero.css";
@import "./styles/happy-customers.css";
@import "./styles/features.css";
@import "./styles/faq.css";
@import "./styles/cta.css";